.weatherBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 500px;
    background-color: rgb(170, 159, 147);
    border-radius: 30px;
}

.weatherBox__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    background-color: rgb(229, 216, 201);
    border-radius: 30px;
}

.weatherBox__location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    margin-bottom: 10px;
}

.weatherBox__location p {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
}

.weatherBox__location h3 {
    margin: 0;
    font-size: 25px;
}

.weatherBox__locationDot {
    margin-right: 10px;
}

.weatherBox__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherBox__date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weatherBox__date p {
    margin: 7px 0;
    font-size: 13px;
    font-weight: 500;
}

.weatherBox__currentWeather {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weatherBox__currentWeather::before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: black;
}

.weatherBox__currentWeather::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: black;
}

.weatherBox__currentWeather__top {
    display: flex;
    margin-top: 30px;
}

.weatherBox__tempCurrent {
    margin: 0;
    margin-top: 60px;
    font-size: 80px;
    font-weight: 800;
    z-index: 2;
}

.weatherBox__icon {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(30, 88, 175);
    animation: floating 2s forwards ease-out;
}

@keyframes floating {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: .9;
        transform: translateX(3px);
    }
}

.weatherBox__currentWeather__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.weatherBox__descText {
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
}

.weatherBox__tempMaxMin {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.weatherBox__detail {
    display: flex;
    gap: 35px;
    margin-top: 20px;
}

.weatherBox__detailItem {
    display: flex;
    gap: 5px;
}

.weatherBox__detailItem p{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.weatherBox__humidityIcon .weatherBox__windIcon {
    font-size: 13px;
}

.weatherBox__forecast {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 40px;
}
